.submitb{
    margin-left: 100px;
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}


.backtopage{
   display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;


}

.einput{

    height: 30px;
    padding: 10px;
    width: 200px;
    margin-left: 400px;
    
}
.pinput{
    height: 30px;
    padding: 10px;
    width: 200px;
    margin-left: 400px;
    margin-top: 40px;
}


.oinput{
    height: 30px;
    padding: 10px;
    width: 200px;
    margin-left: 400px;
    margin-top: 40px;
}