.fp{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.fpItem{
    flex : 1 ;
    gap :10px ;
    display: flex ;
    flex-direction: column;
}
.fpImg {
    width: 90% ;
    height :150px ;
    object-fit: cover;
}

.fpName{
    font-weight: bold;
    font-family: Arial;
    text-transform: capitalize;
}
.fpCity{
    font-weight: 300;
    font-family: Arial;
    text-transform: capitalize;
}
.fpPrice {
    font-weight: 500;
    font-family: Arial;
}
.fpRating > button {
    background-color: #4a8eec;
    color: white;
    border: none;
    padding: 3px; 
    margin-right: 10px;
    font-weight: bold;
    font-family: Arial;
}
.fpRating > span{
    font-weight: bold;
    font-family: Arial;
}
